.thick {
    font-weight: bold;
}
.center{
  display: block;
  margin-left:
}
body {
	background-color : #828180;
	background-image : url(images/bobine-2.gif), url(images/bobine-1.gif);
	background-repeat : no-repeat;
	background-position : top left, 100% 90%;
}
